:root {
	--font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono',
		'Droid Sans Mono', 'Courier New', monospace;
	--font-robo: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 220, 220, 220;
	--font-shadow-rgba: 255, 255, 255, 0;

	--color-scheme-button-rgb: 35, 35, 35;

	--app-rgb: 210, 210, 210;
	--app-border-rgb: 75, 75, 75;
}

[data-theme='dark'] {
	--foreground-rgb: 255, 255, 255;
	--background-start-rgb: 35, 35, 35;
	--background-end-rgb: 20, 20, 20;
	--font-shadow-rgba: 0, 0, 0, 0.5;

	--color-scheme-button-rgb: 255, 255, 255;

	--app-rgb: 75, 75, 75;
	--app-border-rgb: 210, 210, 210;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* transition-duration: 250ms; */
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
	height: -moz-available;
	height: -webkit-fill-available;
	font-family: var(--font-robo);
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));

	display: flex;
	justify-content: space-around;
	align-items: center;

	font-size: 1rem;

	text-shadow: 0 0 3px rgba(var(--font-shadow-rgba));
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.app {
	padding: 1rem 2rem 2rem 2rem;
	margin: calc(max(0vw, 4vw - 1rem));
	border-radius: 2rem;
	border-color: rgb(var(--app-border-rgb));
	border-style: solid;
	width: -moz-available;
	width: -webkit-fill-available;
	min-width: min-content;
	background: rgb(75, 75, 75);
	background: rgb(var(--app-rgb));
}

.header {
	margin-bottom: 0.5rem;
}

#bColorScheme {
	width: 1rem;
	height: 1rem;
	background: rgb(var(--color-scheme-button-rgb));

	border: none;
	border-radius: 0.25rem;
	cursor: pointer;

	&:hover {
		outline: solid rgb(var(--color-scheme-button-rgb)) 1px;
	}

	box-shadow: 1px 1px 4px rgb(var(--background-end-rgb));
}

.content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#enchantment_items {
	width: min-content;
	& th {
		padding-block-end: 0.25rem;
		padding-inline: 0.5rem;
		white-space: nowrap;
		text-wrap: nowrap;
	}
	& td {
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
		& input {
			width: 100%;
		}
	}
	& tfoot input {
		width: -moz-fit-content;
		width: fit-content;
		padding-inline: 0.5rem;
	}
}

.ei_wrapper {
	display: flex;
}

.ei_img {
	width: 25px;
}

.pity_ready {
	color: yellow;
}

.ei_pity {
	margin-left: 3px;
	font-size: 0.7rem;
	display: flex;
	align-items: flex-end;
}

#settings {
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	text-wrap: nowrap;
	gap: 2rem;
}

#general {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	gap: 0.5rem 0;
	justify-items: center;
	border-radius: 1rem 1rem 0 0;

	& label {
		text-align: left;
	}
}

#enchantment_steps {
	border-radius: 0 0 1rem 1rem;
	text-align: center;

	& th {
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
	}
	& td {
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
	}

	& select {
		width: -moz-fit-content;
		width: fit-content;
	}
}

#iteration {
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	gap: 0.5rem;
	width: min-content;
	text-align: center;
	margin-block: 0.5rem;

	& label {
		text-align: left;
	}

	& input[type='number'] {
		width: 4rem;
	}
	& input[type='button'] {
		width: -moz-fit-content;
		width: fit-content;
	}
}

#output {
	display: grid;
	grid-template-columns: 1fr;
	margin-bottom: 0.5rem;
	& label {
		margin-inline-start: 0.25rem;
	}
	& input:first-child {
		margin-bottom: 0.5rem;
	}
	& input {
		width: -moz-available;
		width: -webkit-fill-available;
	}
	& *:nth-child(2) {
		margin-bottom: 0.5rem;
	}
}

select {
	padding-block: 1px;
	padding-inline: 1px;
}

input {
	padding-block: 1px;
	padding-inline: 4px;
}
